.menu__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .menu__item{
        margin-right: rem(27px);
        &:last-child{
            margin-right: rem(0px);
        }
        .menu__link{
            white-space: nowrap;
        }
    }
}
/*768*/
.menu{
    @include tablets{
        display: none;
        background: #313131;
        color:#FFFFFF;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        z-index: 10000;

    }
}

.menu__list{
    @include tablets{
        flex-direction: column;
        height: 100%;
        align-items:center;
        font-size: rem(36px);
        line-height: rem(72px);
        justify-content: flex-start;
        margin-top: rem(135px);
    }
}

.menu__link{
    @include tablets{
        color: #FFFFFF;
    }
}
/*480*/
.menu__list{
    @include phones{
        margin-top: 0px;
        justify-content: center;
    }
}