.order{
    background: #181818;
    padding-top: 68px;
    padding-bottom: 85px;
    &__title{
        font-family: playbold;
        font-size: 48px;
        line-height: 1.08;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}


