.reviews{
    padding-top: 68px;
    padding-bottom: 63px;
}

.review__title{
    font-family: playbold;
    font-size: 48px;
    line-height: 1.08;
    text-transform: uppercase;
}

.review{
    margin-top: 32px;
    width: 940px;
    background: #F8FAF9;
    display: flex;
    padding:42px 0px 42px 42px;
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 32px 107px 21px 0px; 
        margin-left: 38px;
        .review__title{
            font-family: playbold;
            font-size: 24px;
            color: #292929;
            line-height: 1.16;
        }
        .review__subtitle{
            color: #666666;
            line-height: 1.18;
        }
        .review__name{
            font-family: playbold;
            font-size: 18px;
            line-height: 1.16;
        }
        
    }
}

.review__humans{
    margin-top: 15px;
    .review__list{
        display: flex;
        .review__item{
            margin-right: 6px;
        &:last-child{
            margin-right: 0px;
        }
            .review__item-link{
                display: flex;
                border:3px solid transparent;
                border-radius: 50%;
                :active{
                    border:3px solid red;
                }
            }
            .review__item-img{
                width: 74px;
                height: 74px;
                border-radius: 50%;
            }

        }
    }
}
